/**********************************************Elements style ******************************************/
a {
  color: #11999E;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 0 auto;
}

span {
  text-decoration: underline;
}

/**********************************************Class style ******************************************/
.top-container {
  position: relative;
  background-color: #d9ecf2;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 9%;
}
.middle-container {
  padding-top: 2%;
  padding-bottom: 2%;
}

.skills {
  padding-bottom: 2%;
}

.cloud {
  position: absolute;
  top: 9%;
  right: 17%;
}

.cloud-2 {
  position: absolute;
  top: 40%;
  left: 27%;
}

.mountain {
  margin-top: 230px;
}

/**********************************************ID style ******************************************/
#header-intro {
  margin-top: 0px;
}
