/**********************************************Elements style ******************************************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 0 auto;
  font-size: 562.5%;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 0 auto;
}

span {
  text-decoration: underline;
}

/**********************************************Class style ******************************************/
.top-container {
  positon: relative;
  background-color: #a3d2ca;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 9%;
}
.middle-container {
  padding-top: 2%;
  padding-bottom: 2%;
}

.skills {
  padding-bottom: 2%;
}

.cloud {
  position: absolute;
  top: 10%;
  right: 30%;
}

.cloud-2 {
  position: absolute;
  top: 27%;
}


/**********************************************ID style ******************************************/
#header-intro {
  margin-top: 0px;
}
